@import "../colors";

#activities .activity-showcase{
    position: relative;
    min-height: 350px;
    width: 70%;
    margin: 0 auto;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);

}

#activities .activity-showcase img{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: gray;
}

#activities .activity-showcase:hover img{
    filter: contrast(0.5);
}

#activities .activity-showcase .info-tab, #activities .activity-showcase .interaction-tab{
    width: 80%;
    margin: 40px auto;
    z-index: 1;
}

#activities .activity-showcase .info-tab h2{
    font-family: "Orkney-bold", Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 6px $text_color_contrast;
    transition: text-shadow 0.2s ease-in-out, color 0.2s ease;
}

#activities .activity-showcase:hover .info-tab h2{
    text-shadow: none;
    color: $text_color_contrast;
}

#activities .activity-showcase .info-tab .desc{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0s ease 0.2s, transform 0.2s ease;
}

#activities .activity-showcase:hover .info-tab .desc{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

#activities .activity-showcase .info-tab p{
    font-family: "Orkney-light", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: $text_color_contrast;
}

#activities .activity-showcase .interaction-tab{
    height: fit-content;
    position: relative;
    top: 40%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0.1s, visibility 0s ease-in-out 0.3s;
}

#activities .activity-showcase:hover .interaction-tab{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.1s;
}

#activities .activity-showcase .interaction-tab a{
    display: block;
    width: fit-content;
    margin: 0 0 0 auto;
    font-family: "Orkney-medium", Arial, Helvetica, sans-serif;
    font-size: 21px;
    text-decoration: none;
    color: $text_color_contrast;
    cursor: pointer;

    transform: translateX(-10px);
    transition: transform 0.2s ease;
}

#activities .activity-showcase:hover .interaction-tab a{
    transform: translateX(0);
}

#activities .activity-showcase .interaction-tab a i{
    font-size: 25px;
    margin: 0 5px;
    color: $text_color_contrast;
    transition: transform 0.15s ease-in-out;
}

#activities .activity-showcase .interaction-tab a:hover i{
    transform: translateX(-5px);
}

#activities .activity-showcase .interaction-tab hr{
    height: 3px;
    background: $text_color_contrast;
    border: none;
}