@import "../colors";

.lato {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: $black;
}

.light {
  font-weight: 300;
}

.thin {
  font-weight: 400;
}

.medium {
  font-weight: 700;
}

.bold {
  font-weight: 900;
}
