@import "../colors";
@import "../variables";

$shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.26);

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.bg-shadow-cell,
.bg-shadow {
  box-shadow: $shadow;
  background: #fff;
}

.footer-only {
  display: none;
}

footer .footer-only {
  display: block;
}

.header-only {
  display: none;
}

header .header-only {
  display: block;
}

@media screen and (min-width: $mediumScreen) {
  .desktop-hide {
    display: none;
  }

  .bg-shadow-desktop {
    box-shadow: $shadow;
    background: #fff;
  }
}
