@import "../colors";
@import "../variables";

$shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.26);

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main {
  min-height: calc(100% - #{$header_height_cell});
}

.bg-shadow-cell,
.bg-shadow {
  box-shadow: $shadow;
  background: #fff;
}

main .footer-only,
header .footer-only {
  display: none;
}

main .header-only,
footer .header-only {
  display: none;
}

@media screen and (min-width: $mediumScreen) {
  main {
    min-height: calc(100% - #{$header_height_desktop});
  }

  .desktop-hide {
    display: none;
  }

  .bg-shadow-desktop {
    box-shadow: $shadow;
    background: #fff;
  }
}
