@font-face{
    font-family: Matisse;
    src: url("/Assets/Fonts/MATISSE.TTF");
}

@font-face{
    font-family: Orkney-regular;
    src: url("/Assets/Fonts/Orkney/Orkney\ Regular.woff2") format('woff2'),
         url("/Assets/Fonts/Orkney/Orkney\ Regular.woff") format('woff'),
         url("/Assets/Fonts/Orkney/Orkney\ Regular.ttf") format('truetype');
}

@font-face{
    font-family: Orkney-bold;
    src: url("/Assets/Fonts/Orkney/Orkney\ Bold.woff2") format('woff2'),
         url("/Assets/Fonts/Orkney/Orkney\ Bold.woff") format('woff'),
         url("/Assets/Fonts/Orkney/Orkney\ Bold.ttf") format('truetype');
}

@font-face{
    font-family: Orkney-light;
    src: url("/Assets/Fonts/Orkney/Orkney\ Light.woff2") format('woff2'),
         url("/Assets/Fonts/Orkney/Orkney\ Light.woff") format('woff'),
         url("/Assets/Fonts/Orkney/Orkney\ Light.ttf") format('truetype');
}

@font-face{
    font-family: Orkney-medium;
    src: url("/Assets/Fonts/Orkney/Orkney\ Medium.woff2") format('woff2'),
         url("/Assets/Fonts/Orkney/Orkney\ Medium.woff") format('woff'),
         url("/Assets/Fonts/Orkney/Orkney\ Medium.ttf") format('truetype');
}