$smallestScreen: 450px;
$smallScreen: 600px;
$mediumScreen: 800px;
$largeScreen: 1000px;
$largerScreen: 1200px;
$veryLargeScreen: 1400px;

$shortDelay: 0.15s;
$shortMediumDelay: 0.35s;
$mediumDelay: 0.5s;

$header_height_cell: 70px;
$header_height_desktop: 90px;
$header_height_desktop_docked: 55px;
