@import "variables";

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  height: $header_height;
}

header .footer-only, footer .header-only{
  display: none !important;
}

main {
  min-height: calc(100% - #{$header_height});
  position: relative;
}

section{
  width: 100%;
}

footer {
  height: $footer_height;
}

@media only screen and (max-width: 550px){
  .hide-on-cell{
    display: none !important;
  }
}

@media only screen and (min-width: 551px){
  .hide-on-pc{
    display: none !important;
  }
}