@font-face {
  font-family: Matisse;
  src: url("/Assets/Fonts/MATISSE.TTF");
}

@font-face {
  font-family: Orkney-regular;
  src: url("/Assets/Fonts/Orkney/Orkney Regular.woff2") format("woff2"), url("/Assets/Fonts/Orkney/Orkney Regular.woff") format("woff"), url("/Assets/Fonts/Orkney/Orkney Regular.ttf") format("truetype");
}

@font-face {
  font-family: Orkney-bold;
  src: url("/Assets/Fonts/Orkney/Orkney Bold.woff2") format("woff2"), url("/Assets/Fonts/Orkney/Orkney Bold.woff") format("woff"), url("/Assets/Fonts/Orkney/Orkney Bold.ttf") format("truetype");
}

@font-face {
  font-family: Orkney-light;
  src: url("/Assets/Fonts/Orkney/Orkney Light.woff2") format("woff2"), url("/Assets/Fonts/Orkney/Orkney Light.woff") format("woff"), url("/Assets/Fonts/Orkney/Orkney Light.ttf") format("truetype");
}

@font-face {
  font-family: Orkney-medium;
  src: url("/Assets/Fonts/Orkney/Orkney Medium.woff2") format("woff2"), url("/Assets/Fonts/Orkney/Orkney Medium.woff") format("woff"), url("/Assets/Fonts/Orkney/Orkney Medium.ttf") format("truetype");
}

header {
  top: 0;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(28, 28, 28, 0.3);
          box-shadow: 0px 6px 6px 0px rgba(28, 28, 28, 0.3);
  background-color: #fff;
  z-index: 5;
}

header nav {
  position: relative;
  height: 100%;
  width: 500px;
  margin: 0 auto;
}

header nav #main_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  height: 100%;
  list-style: none;
}

header nav #main_list li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 80px;
  height: 100%;
  min-width: 100%;
  margin: 0 auto;
}

header .dropdown > a:before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #1C1C1C;
  left: 25%;
  right: 25%;
  bottom: 30%;
  -webkit-transition: left ease 0.2s, right ease 0.2s;
  transition: left ease 0.2s, right ease 0.2s;
}

header .dropdown:hover > a:before, header .dropdown[isActive] > a:before {
  background-color: #fff;
  left: 20%;
  right: 20%;
}

header .dropdown > a {
  -webkit-transition: background-color ease 0.2s;
  transition: background-color ease 0.2s;
}

header .dropdown:hover > a, header .dropdown[isActive] > a {
  color: #fff;
  background-color: #D42644;
}

header nav #main_list .dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(28, 28, 28, 0.3);
          box-shadow: 0px 6px 6px 0px rgba(28, 28, 28, 0.3);
  border-left: #D42644 solid 4px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity ease 0.2s, visibility 0s ease 0.2s, background-color ease 0.2s, -webkit-transform ease 0.2s;
  transition: opacity ease 0.2s, visibility 0s ease 0.2s, background-color ease 0.2s, -webkit-transform ease 0.2s;
  transition: transform ease 0.2s, opacity ease 0.2s, visibility 0s ease 0.2s, background-color ease 0.2s;
  transition: transform ease 0.2s, opacity ease 0.2s, visibility 0s ease 0.2s, background-color ease 0.2s, -webkit-transform ease 0.2s;
}

header nav #main_list .dropdown:hover ul {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  background-color: #fff;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header nav #main_list .dropdown li {
  line-height: initial;
  min-width: 76%;
  padding: 5px 12%;
}

header nav #main_list .dropdown li:hover {
  background: #D42644;
}

header nav #main_list .dropdown li a {
  text-align: left;
  font-size: 16px;
  color: #1C1C1C;
}

header nav #main_list .dropdown li:hover a {
  color: #fff;
}

header .dropdown a {
  display: block;
  position: relative;
  color: #1C1C1C;
  text-decoration: none;
  font-family: "Orkney-regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  max-height: 100%;
  -webkit-transition: color ease 0.2s;
  transition: color ease 0.2s;
}

header #main_list .dropdown a {
  white-space: nowrap;
}

header #logo {
  display: block;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
}

header #logo:hover {
  -webkit-transform: scale(0.925);
          transform: scale(0.925);
}

header #logo img {
  position: relative;
  display: block;
  max-width: 60%;
  max-height: 60%;
  margin: auto;
  top: 20%;
}
/*# sourceMappingURL=header_style.css.map */