@import "../colors";
@import "../fonts";
@import "../variables";

$hover_animation_time : 0.2s;

header{
    position: relative;
    box-shadow: 0px 6px 6px 0px $shadow_color;
    background-color: #fff;
}

header nav{
    position: relative;
    height: 100%;
    width: 500px;
    margin: 0 auto;
}

header nav #main_list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    list-style: none;
}

header nav #main_list li{
    position: relative;    
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: $header_height;
    height: 100%;
    min-width: 100%;
    margin: 0 auto;
}

header .dropdown > a:before{
    content: "";
    position: absolute;
    height: 2px;
    background-color: $text_color;
    left: 25%; right: 25%;
    bottom: 30%;
    transition: left ease $hover_animation_time, right ease $hover_animation_time;
}

header .dropdown:hover > a:before, header .dropdown[isActive] > a:before{
    background-color: $text_color_contrast;
    left: 20%;
    right: 20%;
}

header .dropdown > a{
    transition: background-color ease $hover_animation_time;
}

header .dropdown:hover > a, header .dropdown[isActive] > a{
    color: $text_color_contrast;
    background-color: $hot_red;
}

header nav #main_list .dropdown ul {
    display: flex;    
    position: absolute;
    flex-direction: column;
    width: 200px;

    text-align: left;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 6px 6px 0px $shadow_color;
    border-left: $hot_red solid 4px;
    transform: translateY(-10px);
    transition: transform ease $hover_animation_time, opacity ease $hover_animation_time, visibility 0s ease $hover_animation_time, background-color ease $hover_animation_time;
}

header nav #main_list .dropdown:hover ul{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
    background-color: $text_color_contrast;    
    transform: translateY(0);    
}

header nav #main_list .dropdown li{
    line-height: initial;
    min-width: 76%;
    padding: 5px 12%;
}

header nav #main_list .dropdown li:hover{
    background: $hot_red;
}

header nav #main_list .dropdown li a{
    text-align: left;
    font-size: 16px;
    color: $text_color;
}

header nav #main_list .dropdown li:hover a{
    color: $text_color_contrast;
}

header .dropdown a {
    display: block;
    position: relative;
    color: $text_color;
    text-decoration: none;
    font-family: "Orkney-regular", Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-height: 100%;
    transition: color ease $hover_animation_time;
}

header #main_list .dropdown a{
    white-space: nowrap;
}

header #logo{
    display: block;
    height: 100%;
    position: relative;
    transition: transform ease 0.5s;
}

header #logo:hover{
    transform: scale(0.925);
}

header #logo img{
    position: relative;
    display: block;
    max-width: 60%;
    max-height: 60%;
    margin: auto;
    top: 20%;
}