@import "../variables";
@import "../colors";
$header_height : 60px;
$sidebarMenu_height : 60px;
$sideMenu_openTime : 0.3s;

$hamburger_height : 28px;
$hamburger_bar_height : 6px;
$hamburger_offset : ($hamburger_height - 3 * $hamburger_bar_height) / 2;

@media only screen and (max-width: 550px){
    
    header{
        position: initial;
        height: $header_height;    
    }

    header nav{
        position: initial;
        max-width: 100%;            
    }

    header nav div{
        height: 100%;
    }

    header nav div a{
        height: fit-content;
        width: fit-content;
        margin: auto;
    }

    header nav div #hamburger{
        position: absolute;
        right: 15px;
        top: #{($header_height - $hamburger_height) / 2};
        width: 35px;
        height: $hamburger_height;
        cursor: pointer;
    }

    header nav div #hamburger_button,
    header nav div #hamburger_button::before,
    header nav div #hamburger_button::after{
        content: "";
        display: block;
        width: 100%;
        max-width: 100%;
        height: $hamburger_bar_height;
        border-radius: 10px;
        background-color: $text_color;
        transform: translateY(#{$hamburger_bar_height + $hamburger_offset});

        transition: all $sideMenu_openTime ease;
    }

    header nav div #hamburger_button::before{
        transform: translateY(#{-$hamburger_bar_height - $hamburger_offset});
    }

    header nav div #hamburger_button::after{
        transform: translateY($hamburger_offset);
    }

    header nav div #hamburger[isMenuActive] #hamburger_button{
        background: none;
    }

    header nav div #hamburger[isMenuActive] #hamburger_button::before{   
        max-width: 20px;     
        transform: translateX(10px) translateY(-6px) rotate(45deg);
    }

    header nav div #hamburger[isMenuActive] #hamburger_button::after{   
        max-width: 20px;
        transform: translateX(10px) rotate(-45deg);
    }

    header nav div #logo img{
        max-width: 100%;
        margin: 0;
    }

    header nav #main_list{        
        grid-template-columns: none;
        display: initial;
        height: calc(100% - #{$header_height});
        width: 60%;        
        right: 0;
        position: fixed;
        box-shadow: -8px 3px 6px -2px $shadow_color;
        background: #fff;
        transform: translateX(105%);
        transition: transform ease 0.25s;
    }

    header nav #main_list[isMenuActive]{
        transform: translateX(0);
    }

    header nav #main_list .dropdown{
        display: block;
        line-height: 50px;
        height: fit-content;
        max-height: 60px;
        overflow: hidden;
        padding-bottom: 10px;

        transition: max-height ease-out;
        transition-duration: $sideMenu_openTime;
    }

    header nav #main_list .dropdown[isActive]{
        max-height: 300px;
        transition: max-height ease-in;
        transition-duration: $sideMenu_openTime;
       /* background-color: $hot_red;*/
    }

    header nav #main_list .dropdown a{
        height: $sidebarMenu_height;
        font-size: 15px;
    }

    header nav #main_list .dropdown[isActive] > a{
        background-color: $hot_red;
    }

    header nav #main_list .dropdown button{
        position: absolute;
        display: block;
        top: 13px;
        right: 15%;
        width: 30px;
        height: 20px;
        background: none;
        border: none;
        outline: 0;
        cursor: pointer;

        transition: transform ease 0.2s;
    }

    header nav #main_list .dropdown[isActive] button {
        transform: rotate(180deg);
    }

    header nav #main_list .dropdown:hover button i, header nav #main_list .dropdown[isActive] button i{
        color: $text_color_contrast;
    }

    header nav #main_list .dropdown button i{
        font-size: 19px;
    }

    header nav #main_list .dropdown ul, header nav #main_list .dropdown:hover ul{
        display: block;
        position: relative;
        width: 100%;

        transform: translateY(-15%);
        visibility: hidden;
        opacity: 0; 
        z-index: -1;

        transition: transform ease $sideMenu_openTime, opacity ease $sideMenu_openTime, visibility 0s ease $sideMenu_openTime, background-color ease $sideMenu_openTime;
    }

    header nav #main_list .dropdown[isActive] ul, header nav #main_list .dropdown[isActive]:hover ul{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
        z-index: initial;
    }    

    header nav #main_list .dropdown li{
        display: block;
    }

    header nav #main_list .dropdown li:hover, header nav #main_list .dropdown li:focus{
        background-color: $hot_red;
    }

    header nav #main_list .dropdown li a{
        height: fit-content;
    }

}