header {
  width: 100%;
  min-height: 70px;
}

header > div {
  width: 100%;
  min-height: 70px;
  position: relative;
}

header #header-container {
  height: 100%;
  position: relative;
}

header #header-container #nav-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header #header-container #nav-button .line {
  width: 100%;
  height: calc(30px / 6);
  background-color: #303030;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header #header-container #nav-button[toggled] .line:first-child {
  -webkit-transform: translateY(165%) rotate(-45deg);
          transform: translateY(165%) rotate(-45deg);
}

header #header-container #nav-button[toggled] .line:last-child {
  -webkit-transform: translateY(-165%) rotate(45deg);
          transform: translateY(-165%) rotate(45deg);
}

header #header-container #nav-button[toggled] .line:nth-child(2) {
  visibility: hidden;
  opacity: 0;
}

header #header-container #logo {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 40px;
  height: 100%;
  padding: calc((70px - 40px) / 2) 0;
}

header #header-container #logo img {
  width: 40px;
  height: 40px;
}

header nav {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav[open] {
  top: 100%;
  visibility: visible;
  opacity: 1;
  max-height: 380px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav > ul {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 20px;
}

header nav > ul > li {
  padding: 10px 0;
}

header nav > ul > li ul {
  padding: 5px 0;
  visibility: hidden;
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header nav > ul > li ul[open] {
  visibility: visible;
  max-height: 300px;
}

header nav > ul > li ul li {
  padding: 3px 0;
}

header nav > ul > li ul li a {
  font-weight: 300;
  font-size: 0.975em;
}

header nav > ul .nav-logo {
  display: none;
}

header nav > ul a {
  text-decoration: none;
  color: #303030;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

header nav > ul i {
  font-size: 1.1em;
  padding: 2px 7px;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
  cursor: pointer;
}

header nav > ul i[toggled] {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (min-width: 600px) {
  header nav > ul {
    width: 40%;
  }
}

@media screen and (min-width: 800px) {
  header {
    min-height: 90px;
  }
  header > div {
    min-height: 90px;
  }
  header nav {
    visibility: visible;
    opacity: 1;
    max-height: none;
    height: 90px;
  }
  header nav > ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    width: 80%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header nav > ul > li {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav > ul li {
    padding: 0;
  }
  header nav > ul li:hover {
    background: #d42644;
  }
  header nav > ul li:hover > a {
    color: #fff;
  }
  header nav > ul li a {
    font-weight: 600;
    padding: 10px 20px;
  }
  header nav > ul li i {
    display: none;
  }
  header nav > ul li ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    padding: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    border-left: solid 3px #d42644;
  }
  header nav > ul li ul li {
    padding: 0;
    text-align: left;
  }
  header nav > ul li ul li a {
    display: block;
    font-weight: 600;
    padding: calc(8px) 20px;
  }
  header nav > ul li:hover ul {
    visibility: visible;
    opacity: 1;
    max-height: 200px;
  }
  header nav > ul .nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav > ul .nav-logo a {
    display: block;
    position: relative;
    width: calc(40px + 2 * 20px);
    height: calc(40px + 2 * 10px);
  }
  header nav > ul .nav-logo a img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
  }
  header nav > ul .nav-logo:hover {
    background: #fff;
  }
}

@media screen and (min-width: 1000px) {
  header nav > ul {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  header nav > ul {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) {
  header nav > ul {
    width: 40%;
  }
}
/*# sourceMappingURL=header.css.map */