@import "../variables";
@import "../colors";
@import "../fonts";

main{
    min-height: 100%;
}

header{
    position: absolute;
}

#main_page{
    height: 100%;
    position: absolute;    
    overflow: hidden;
}

#main_page #background-img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/Assets/img/background.jpg");
    background-position: center;
    background-size: cover;
    background-color: #000;
    filter: blur(5px) opacity(0.9) grayscale(100%);
    transform: scale(1.02);
}

// Message

#main_page #msg-box{
    position: relative;
    top: 25%;
    width: 100%;
    min-height: 75px;
}

#main_page #msg-container{
    position: relative;
    width: 60%;
    min-height: inherit;
    margin: 0 auto;
}

#main_page #msg-container .msg-background-line{
    position: absolute;
    top: 50%;
    width: 20%;
    height: 2px;
    background-color: #fff;
}

#main_page #msg-container .start{
    left: 0;
}

#main_page #msg-container .end{
    right: 0;
}

#main_page #msg-container #msg{
    display: flex;
    align-items: center;
    width: calc(60% - 30px);
    min-height: inherit;
    margin: 0 auto;
    padding: 8px 15px;

    background-color: rgba($color: #fff, $alpha: 0.6);    
    border-radius: 10px;
    box-shadow: 0px 6px 6px 0px $shadow_color;
}

#main_page #msg-container #msg h3{
    width: 100%;
    font-family: "Orkney-light", Arial, Helvetica, sans-serif;
    color: $text_color;
    font-size: 18px;
    text-align: center;
}

#main_page #msg-container #msg h3 a{
    text-decoration: none;
    color: $text_color;
}

#main_page #msg-container #msg h3 a u{
    text-decoration: underline;
}

// CTA

#main_page #cta-block{
    position: relative;
    top: 30%;
    width: 100%;
}

#main_page #cta-container{
    width: 70%;
    margin: 0 auto;
}

#main_page #cta-container hr{
    height: 3px;
    margin: 15px 0;
    background-color: #000;
    border: none;
}

#main_page #cta-container h1{
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    font-family: "Matisse", Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 6px #fff;
    padding: 20px;
}

#main_page #cta-container #cta-buttons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#main_page #cta-container #cta-buttons a{
    font-family: "Orkney-bold", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: $text_color;
    font-size: 23px;
    width: 200px;
    height: 50px;
    margin: 0 20px;
    padding: 0 20px;
    line-height: 55px;
    border-radius: 10px;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 6px 6px 0px $shadow_color;
    transition: all 0.2s ease;
}

#main_page #cta-container #cta-buttons a:first-child{
    background-color: $hot_red;
}

#main_page #cta-container #cta-buttons a:last-child{
    background-color: rgba($color: #fff, $alpha: 0.6);
}

#main_page #cta-container #cta-buttons a:last-child:hover{
    background-color: #fff;
    transform: scaleX(1.025);
}

#main_page #cta-container #cta-buttons a:first-child:hover{
    background-color: $dark_red;
    transform: scaleX(1.025);
}


// Small screens

@media only screen and (max-width: 800px){

    #main_page #msg-container{
        width: 75%;
    }

    #main_page #cta-container #cta-buttons a{
        width: 160px;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        margin: 0 15px;
        padding: 0 15px;
    }

    #main_page #cta-container h1{
        font-size: 35px;
    }

}

@media only screen and (max-width: 650px){

    #main_page #msg-box{
        min-height: 60px;
    }

    #main_page #msg-box #msg-container .msg-background-line{
        display: none;
    }

    #main_page #msg-box #msg-container #msg{
        width: 80%;
    }

    #main_page #msg-box #msg-container #msg h3{
        font-size: 15px;
    }

    #main_page #cta-container #cta-buttons a{
        width: 140px;
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        margin: 0 10px;
        padding: 0 10px;
    }

    #main_page #cta-container hr{
        width: 30%;
        margin: 10px auto;
    }

}

@media only screen and (max-width: 550px){

    #main_page #cta-container h1{
        display: none;
    }

    #main_page #cta-container #cta-buttons{
        flex-direction: column;
        align-items: center;
    }
    
    #main_page #cta-container #cta-buttons a{
        margin: 5px 0;
        height: 35px;
        line-height: 35px;
    }

}