@import "../variables";
@import "../colors";

@media only screen and (min-width: 701px){

    $header_height : 120px;

    header{
        height: $header_height;    
        box-shadow: none;
    }

    header nav {
        width: 700px;
    }
    
    header nav .dropdown > a{
        line-height: $header_height;
        vertical-align: middle;
    }
    
    header nav .dropdown > a:before{
        bottom: 35%;
    }

}

@media only screen and (max-width: 700px){

    header{
        height: $header_height;
    }

    header nav{
        width: 500px;
    }

    header nav div #hamburger{
        top: 36px;
    }

    header nav #main_list{
        top: $header_height;
        height: calc(100% - #{$header_height});
    }

    header nav .dropdown > a{
        line-height: inherit;
    }

}