@font-face {
  font-family: Matisse;
  src: url("/Assets/Fonts/MATISSE.TTF");
}

@font-face {
  font-family: Orkney-regular;
  src: url("/Assets/Fonts/Orkney/Orkney Regular.woff2") format("woff2"), url("/Assets/Fonts/Orkney/Orkney Regular.woff") format("woff"), url("/Assets/Fonts/Orkney/Orkney Regular.ttf") format("truetype");
}

@font-face {
  font-family: Orkney-bold;
  src: url("/Assets/Fonts/Orkney/Orkney Bold.woff2") format("woff2"), url("/Assets/Fonts/Orkney/Orkney Bold.woff") format("woff"), url("/Assets/Fonts/Orkney/Orkney Bold.ttf") format("truetype");
}

@font-face {
  font-family: Orkney-light;
  src: url("/Assets/Fonts/Orkney/Orkney Light.woff2") format("woff2"), url("/Assets/Fonts/Orkney/Orkney Light.woff") format("woff"), url("/Assets/Fonts/Orkney/Orkney Light.ttf") format("truetype");
}

@font-face {
  font-family: Orkney-medium;
  src: url("/Assets/Fonts/Orkney/Orkney Medium.woff2") format("woff2"), url("/Assets/Fonts/Orkney/Orkney Medium.woff") format("woff"), url("/Assets/Fonts/Orkney/Orkney Medium.ttf") format("truetype");
}

main {
  min-height: 100%;
}

header {
  position: absolute;
}

main section {
  position: relative;
  overflow: hidden;
}

#main_page #background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/Assets/img/background.jpg");
  background-position: center;
  background-size: cover;
  background-color: #000;
  -webkit-filter: blur(5px) opacity(0.9) grayscale(100%);
          filter: blur(5px) opacity(0.9) grayscale(100%);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#main_page #msg-box {
  position: relative;
  top: 25%;
  width: 100%;
  min-height: 75px;
}

#main_page #msg-container {
  position: relative;
  width: 50%;
  min-height: inherit;
  margin: 0 auto;
}

#main_page #msg-container .msg-background-line {
  position: absolute;
  top: 50%;
  width: 15%;
  height: 2px;
  background-color: #fff;
}

#main_page #msg-container .start {
  left: 0;
}

#main_page #msg-container .end {
  right: 0;
}

#main_page #msg-container #msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(70% - 30px);
  min-height: inherit;
  margin: 0 auto;
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(28, 28, 28, 0.3);
          box-shadow: 0px 6px 6px 0px rgba(28, 28, 28, 0.3);
}

#main_page #msg-container #msg h3 {
  width: 100%;
  font-family: "Orkney-light", Arial, Helvetica, sans-serif;
  color: #1C1C1C;
  font-size: 18px;
  text-align: center;
}

#main_page #msg-container #msg h3 a {
  text-decoration: none;
  color: #1C1C1C;
}

#main_page #msg-container #msg h3 a u {
  text-decoration: underline;
}

#main_page #cta-block {
  position: relative;
  top: 30%;
  width: 100%;
}

#main_page #cta-container {
  width: 70%;
  margin: 0 auto;
}

#main_page #cta-container hr {
  height: 3px;
  margin: 15px 0;
  background-color: #000;
  border: none;
}

#main_page #cta-container h1 {
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  font-family: "Matisse", Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 6px #fff;
  padding: 20px;
}

#main_page #cta-container #cta-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

#main_page #cta-container #cta-buttons a {
  font-family: "Orkney-bold", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #1C1C1C;
  font-size: 23px;
  width: 200px;
  height: 50px;
  margin: 0 20px;
  padding: 0 20px;
  line-height: 55px;
  border-radius: 10px;
  vertical-align: middle;
  text-align: center;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(28, 28, 28, 0.3);
          box-shadow: 0px 6px 6px 0px rgba(28, 28, 28, 0.3);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#main_page #cta-container #cta-buttons a:first-child {
  background-color: #D42644;
}

#main_page #cta-container #cta-buttons a:last-child {
  background-color: rgba(255, 255, 255, 0.6);
}

#main_page #cta-container #cta-buttons a:last-child:hover {
  background-color: #fff;
  -webkit-transform: scaleX(1.025);
          transform: scaleX(1.025);
}

#main_page #cta-container #cta-buttons a:first-child:hover {
  background-color: #C41735;
  -webkit-transform: scaleX(1.025);
          transform: scaleX(1.025);
}

@media only screen and (max-width: 800px) {
  #main_page #msg-container {
    width: 75%;
  }
  #main_page #cta-container #cta-buttons a {
    width: 160px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin: 0 15px;
    padding: 0 15px;
  }
  #main_page #cta-container h1 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 650px) {
  #main_page #msg-box {
    min-height: 60px;
  }
  #main_page #msg-box #msg-container .msg-background-line {
    display: none;
  }
  #main_page #msg-box #msg-container #msg {
    width: 80%;
  }
  #main_page #msg-box #msg-container #msg h3 {
    font-size: 15px;
  }
  #main_page #cta-container #cta-buttons a {
    width: 140px;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
    padding: 0 10px;
  }
  #main_page #cta-container hr {
    width: 30%;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 550px) {
  #main_page #cta-container h1 {
    display: none;
  }
  #main_page #cta-container #cta-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main_page #cta-container #cta-buttons a {
    margin: 5px 0;
    height: 35px;
    line-height: 35px;
  }
}
/*# sourceMappingURL=index_style.css.map */