@import "../fonts";
@import "../colors";

footer{
    height: fit-content;
    background-color: $hot_red;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

footer hr{
    width: 15%;
    margin: 0 auto;
    padding: 0;
    border: #fff 1px solid;
    opacity: 0.6;
}

footer #main-section #cta{
    padding: 20px;
}

footer #main-section ul{
    text-align: center;
    position: relative;
}

footer #main-section ul li{
    display: inline-block;
    margin: 0 25px;
}

footer #main-section ul li a{
    display: block;
    padding: 6px;
    color: $text_color_contrast;
    font-family: "Orkney-medium", Arial, Helvetica, sans-serif;
    font-size: 17px;
}

footer #main-section nav{
    padding: 20px;
    width: 800px;
    margin: 0 auto;
}

footer #main-section nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

footer #main-section nav ul li{
    margin: 0;
}

footer #main-section nav ul li a{
    font-family: "Orkney-regular", Arial, Helvetica, sans-serif;
}

footer #main-section ul li ul{
    display: flex;
    flex-direction: column;
}

footer #main-section ul li ul li{
    opacity: 0.6;
}

footer #main-section ul li ul li a{
    font-family: "Orkney-light", Arial, Helvetica, sans-serif;
    padding: 2px;
    font-size: 15px;
}

footer #main-section #partners h4{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: $text_color_contrast;
    font-weight: normal;
    font-family: "Orkney-medium", Arial, Helvetica, sans-serif;    
}

footer #main-section #partners .wrapper{
    position: relative;
    width: 100px;    
    height: 100px;
}

footer #main-section #partners .wrapper img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

footer #copyright-section{
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    margin-top: 20px;
    padding-bottom: 10px;
}

footer #copyright-section p{
    display: inline-block;
    font-family: "Orkney-regular", Arial, Helvetica, sans-serif;
    color: $text_color_contrast;
    opacity: 0.6;
    text-align: center;
    font-size: 13px;
}

footer #copyright-section p:nth-of-type(1){
    text-align: right;
}

footer #copyright-section p:nth-of-type(3){
    text-align: left;
}

footer #copyright-section p a{
    color: $text_color_contrast;
    text-decoration: underline;    
}