footer {
  width: 100%;
  background-color: #d42644;
}

footer #quick-links {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 25px 0;
}

footer #quick-links a {
  padding: 4px 0;
  color: #fff;
  text-decoration: none;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
}

footer nav {
  width: 50%;
  margin: 0 auto;
  padding: 25px 0;
  position: relative;
}

footer nav::before, footer nav::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30%;
  border: #fff solid 1px;
  background: #fff;
}

footer nav::before {
  top: 0;
}

footer nav::after {
  bottom: 0;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

footer nav > ul a {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

footer nav > ul > li {
  padding: 6px 0;
}

footer nav > ul > li ul > li {
  padding: 1px 0;
}

footer nav > ul > li ul a {
  font-weight: 300;
  font-size: 15px;
}

footer #partners {
  padding: 25px 0;
}

footer #partners p {
  color: #fff;
  text-align: center;
}

footer #partners ul {
  padding: 25px 0 0 0;
  list-style-type: none;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer #partners ul li {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 6px 3px;
}

footer #partners ul li img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer #copy {
  width: 100%;
  background-color: #ca1735;
  padding: 8px 0;
  font-size: 14px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  opacity: 0.5;
  text-align: center;
}

footer #copy a {
  color: #fff;
}

@media screen and (max-width: 450px) {
  .small-screen-br {
    display: block;
    height: 0;
    font-size: 0;
  }
}

@media screen and (min-width: 800px) {
  footer #quick-links {
    width: 600px;
    display: block;
  }
  footer #quick-links a {
    width: 180px;
    display: inline-block;
  }
  footer nav {
    width: 550px;
  }
  footer nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer nav > ul .bg-shadow,
  footer nav > ul .bg-shadow-desktop {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  footer nav > ul > li > ul {
    padding: 5px 0;
  }
  footer nav > ul > li > ul > li {
    padding: 2px 0;
  }
  footer #partners ul li {
    margin: 15px 20px;
    width: 140px;
    height: 140px;
  }
}
/*# sourceMappingURL=footer.css.map */