@import "../variables";
@import "../colors";

aside{
    display: flex;
    position: fixed;    
    align-items: center;
    height: calc(70% - #{$header_height});
    top: calc(12% + #{$header_height / 2});
    width: 3px;    
    right: 70px;
    z-index: 2;
}

aside .sidenav-bar{    
    position: absolute;    
    background-color: #000;
    border-radius: 10%;    
    width: 2px;
}

aside .sidenav-bar:nth-of-type(1){
    top: 0;
}

aside .sidenav-bar:nth-of-type(2){
    bottom: 0;
}

aside nav{ 
    height: fit-content;
    width: fit-content;
    transform: translateX(-7px);
    padding: 20px 0;
    background: transparent;
}

aside nav .quick-nav{
    width: 12px;
    height: 12px;
    border: 2px solid #000;
    border-radius: 100%;
    background-color: #000;
    margin: 15px 0;

    transition: background-color 0.1s ease;
}

aside nav .quick-nav[active], aside nav .quick-nav:hover{
    background-color: #fff;
}

aside nav .quick-nav[active]{
    animation: quickNavSelection 0.3s;
}

@keyframes quickNavSelection{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.15);
    }
}

aside nav .quick-nav a{
    display: block;    
    width: 100%;
    height: 100%;
}